<aside class="w-full text-sm sticky top-0 bg-white rounded-[20px] shadow-sm border border-slate-50 p-2.5 flex flex-col gap-1">

  <button routerLink="/feed" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-blue-50 text-blue-600"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl font-semibold transition-colors duration-200 text-slate-700 hover:bg-slate-50">
    <i class="fa-regular fa-newspaper w-5 text-center"></i>
    <span>Feed</span>
  </button>

  <button routerLink="/feed/my-posts" routerLinkActive="bg-blue-50 text-blue-600"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl font-semibold transition-colors duration-200 text-slate-700 hover:bg-slate-50">
    <i class="fa-solid fa-wand-magic-sparkles w-5 text-center"></i>
    <span>My posts</span>
  </button>

  <button routerLink="/feed/community" routerLinkActive="bg-blue-50 text-blue-600"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl font-semibold transition-colors duration-200 text-slate-700 hover:bg-slate-50">
    <i class="fa-solid fa-globe w-5 text-center"></i>
    <span>Community</span>
  </button>

  <button routerLink="/feed/saved" routerLinkActive="bg-blue-50 text-blue-600"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl font-semibold transition-colors duration-200 text-slate-700 hover:bg-slate-50">
    <i class="fa-regular fa-bookmark w-5 text-center"></i>
    <span>Saved</span>
  </button>

</aside>